<a href="https://colab.research.google.com/github/WilliamShengYangHuang/AALU_Coding/blob/main/Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas**

Copyright 2017 Google LLC.

Modified and expanded by William Huang (January 2022)

[*pandas*](http://pandas.pydata.org/) is a column-oriented data analysis API. It's a great tool for handling and analyzing input data, and many ML frameworks support *pandas* data structures as inputs.
Although a comprehensive introduction to the *pandas* API would span many pages, the core concepts are fairly straightforward, and we'll present them below. For a more complete reference, the [*pandas* docs site](http://pandas.pydata.org/pandas-docs/stable/index.html) contains extensive documentation and many tutorials.

In [16]:
#@title
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

**Learning Objectives:**
  * Gain an introduction to the `DataFrame` and `Series` data structures of the *pandas* library
  * Access and manipulate data within a `DataFrame` and `Series`
  * Import CSV data into a *pandas* `DataFrame`
  * Reindex a `DataFrame` to shuffle data

# Basics

The following line imports the *pandas* API and prints the API version:

In [17]:
"""
from __future__ import print_function # Required if using Python2; it needs to be the first line of code in the script.

from platform import python_version
print(python_version()) # Check Python version
"""

'\nfrom __future__ import print_function # Required if using Python2; it needs to be the first line of code in the script.\n\nfrom platform import python_version\nprint(python_version()) # Check Python version\n'

In [18]:
import pandas as pd
pd.__version__ # Displays Pandas version

'1.1.5'

The primary data structures in *pandas* are implemented as two classes:

  * **`DataFrame`**, which you can imagine as a relational data table, with rows and named columns.
  * **`Series`**, which is a single column. A `DataFrame` contains one or more `Series` and a name for each `Series`.

The data frame is a commonly used abstraction for data manipulation. Similar implementations exist in [Spark](https://spark.apache.org/) and [R](https://www.r-project.org/about.html).

## Create Series

One way to create a `Series` is to construct a `Series` object. For example:

In [19]:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

`DataFrame` objects can be created by passing a `dict` mapping `string` column names to their respective `Series`. If the `Series` don't match in length, missing values are filled with special [NA/NaN](http://pandas.pydata.org/pandas-docs/stable/missing_data.html) values. Example:

In [20]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

## Use Loaded Data

But most of the time, you load an entire file into a `DataFrame`. The following example loads a file with California housing data. Run the following cell to load the data and create feature definitions:

Option 1: Load CSV from Google Drive

In [21]:
from google.colab import drive
import os

# Place the dataset in your Google Drive 
drive.mount("/content/drive")

Mounted at /content/drive

In [22]:
# Set csv file path
PATH = "/content/drive/My Drive/california_housing_train.csv"

# Read csv from Drive
df = pd.read_csv(PATH)
df

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936               66900
1        -114.47     34.40  ...         1.8200               80100
2        -114.56     33.69  ...         1.6509               85700
3        -114.57     33.64  ...         3.1917               73400
4        -114.57     33.57  ...         1.9250               65500
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571              111400
16996    -124.27     40.69  ...         2.5179               79000
16997    -124.30     41.84  ...         3.0313              103600
16998    -124.30     41.80  ...         1.9797               85800
16999    -124.35     40.54  ...         3.0147               94600

[17000 rows x 9 columns]

Option 2: Load CSV from local file path

In [23]:
# Read csv from a local file path
from google.colab import files
uploaded = files.upload()

Saving california_housing_train.csv to california_housing_train.csv

In [58]:
# Read data
df2 = pd.read_csv('california_housing_train.csv')
df2

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936               66900
1        -114.47     34.40  ...         1.8200               80100
2        -114.56     33.69  ...         1.6509               85700
3        -114.57     33.64  ...         3.1917               73400
4        -114.57     33.57  ...         1.9250               65500
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571              111400
16996    -124.27     40.69  ...         2.5179               79000
16997    -124.30     41.84  ...         3.0313              103600
16998    -124.30     41.80  ...         1.9797               85800
16999    -124.35     40.54  ...         3.0147               94600

[17000 rows x 9 columns]

In [59]:
# df2.describe()

In [ ]:
df2['total_rooms'] # Access one specific column

In [ ]:
df2['total_rooms'] > 1000

In [ ]:
df2['big_house'] = (df2['total_rooms'] > 1000)
df2

The example above used `DataFrame.describe` to show interesting statistics about a `DataFrame`. Another useful function is `DataFrame.head`, which displays the first few records of a `DataFrame`:

In [ ]:
df.head()

Another powerful feature of *pandas* is graphing. For example, `DataFrame.hist` lets you quickly study the distribution of values in a column:

In [ ]:
df.hist('housing_median_age', color='orange', alpha=0.7)

In [102]:
count = df2['big_house'].value_counts(True)
count_list = list(count)
print(count_list)

[0.889, 0.111]

In [ ]:
import matplotlib.pyplot as plt

LABELS = ['True', 'False'] 
plt.pie([count_list[0], count_list[1]], labels=LABELS)

## Accessing Data

You can access `DataFrame` data using familiar Python dict/list operations:

In [ ]:
cities = pd.DataFrame({ 'City name': city_names, 'Population': population })
print(type(cities['City name']))
cities['City name']

In [ ]:
print(type(cities['City name'][1]))
cities['City name'][1]

In [ ]:
print(type(cities[0:2]))
cities[0:2]

In addition, *pandas* provides an extremely rich API for advanced [indexing and selection](http://pandas.pydata.org/pandas-docs/stable/indexing.html) that is too extensive to be covered here.

## Manipulating Data

You may apply Python's basic arithmetic operations to `Series`. For example:

In [34]:
population / 1000.

0     852.469
1    1015.785
2     485.199
dtype: float64

[NumPy](http://www.numpy.org/) is a popular toolkit for scientific computing. *pandas* `Series` can be used as arguments to most NumPy functions:

In [35]:
import numpy as np

np.log(population)

0    13.655892
1    13.831172
2    13.092314
dtype: float64

For more complex single-column transformations, you can use `Series.apply`. Like the Python [map function](https://docs.python.org/2/library/functions.html#map), 
`Series.apply` accepts as an argument a [lambda function](https://docs.python.org/2/tutorial/controlflow.html#lambda-expressions), which is applied to each value.

The example below creates a new `Series` that indicates whether `population` is over one million:

In [36]:
population.apply(lambda val: val > 1000000)

0    False
1     True
2    False
dtype: bool


Modifying `DataFrames` is also straightforward. For example, the following code adds two `Series` to an existing `DataFrame`:

In [37]:
cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
cities['Population density'] = cities['Population'] / cities['Area square miles']
cities

       City name  Population  Area square miles  Population density
0  San Francisco      852469              46.87        18187.945381
1       San Jose     1015785             176.53         5754.177760
2     Sacramento      485199              97.92         4955.055147

## Save CSV

Option 1: Download as a CSV file

In [38]:
from google.colab import files

cities.to_csv('output.csv', encoding = 'utf-8-sig') 
files.download('output.csv')

Option 2: Save as a CSV file to Google Drive

In [39]:
from google.colab import drive

drive.mount('/content/drive')
path = '/content/drive/My Drive/outpur.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Exercise #1

Modify the `cities` table by adding a new boolean column that is True if and only if *both* of the following are True:

  * The city is named after a saint.
  * The city has an area greater than 50 square miles.

**Note:** Boolean `Series` are combined using the bitwise, rather than the traditional boolean, operators. For example, when performing *logical and*, use `&` instead of `and`.

**Hint:** "San" in Spanish means "saint."

In [40]:
# Your code here

### Solution

Click below for a solution.

In [41]:
cities['Is wide and has saint name'] = (cities['Area square miles'] > 50) & cities['City name'].apply(lambda name: name.startswith('San'))
cities

       City name  Population  ...  Population density  Is wide and has saint name
0  San Francisco      852469  ...        18187.945381                       False
1       San Jose     1015785  ...         5754.177760                        True
2     Sacramento      485199  ...         4955.055147                       False

[3 rows x 5 columns]

## Indexes
Both `Series` and `DataFrame` objects also define an `index` property that assigns an identifier value to each `Series` item or `DataFrame` row. 

By default, at construction, *pandas* assigns index values that reflect the ordering of the source data. Once created, the index values are stable; that is, they do not change when data is reordered.

In [42]:
city_names.index

RangeIndex(start=0, stop=3, step=1)

In [43]:
cities.index

RangeIndex(start=0, stop=3, step=1)

Call `DataFrame.reindex` to manually reorder the rows. For example, the following has the same effect as sorting by city name:

In [44]:
cities.reindex([2, 0, 1])

       City name  Population  ...  Population density  Is wide and has saint name
2     Sacramento      485199  ...         4955.055147                       False
0  San Francisco      852469  ...        18187.945381                       False
1       San Jose     1015785  ...         5754.177760                        True

[3 rows x 5 columns]

Reindexing is a great way to shuffle (randomize) a `DataFrame`. In the example below, we take the index, which is array-like, and pass it to NumPy's `random.permutation` function, which shuffles its values in place. Calling `reindex` with this shuffled array causes the `DataFrame` rows to be shuffled in the same way.
Try running the following cell multiple times!

In [45]:
cities.reindex(np.random.permutation(cities.index))

       City name  Population  ...  Population density  Is wide and has saint name
2     Sacramento      485199  ...         4955.055147                       False
0  San Francisco      852469  ...        18187.945381                       False
1       San Jose     1015785  ...         5754.177760                        True

[3 rows x 5 columns]

For more information, see the [Index documentation](http://pandas.pydata.org/pandas-docs/stable/indexing.html#index-objects).

## Exercise #2

The `reindex` method allows index values that are not in the original `DataFrame`'s index values. Try it and see what happens if you use such values! Why do you think this is allowed?

In [46]:
# Your code here

### Solution

Click below for the solution.

If your `reindex` input array includes values not in the original `DataFrame` index values, `reindex` will add new rows for these "missing" indices and populate all corresponding columns with `NaN` values:

In [47]:
cities.reindex([0, 4, 5, 2])

       City name  Population  ...  Population density  Is wide and has saint name
0  San Francisco    852469.0  ...        18187.945381                       False
4            NaN         NaN  ...                 NaN                         NaN
5            NaN         NaN  ...                 NaN                         NaN
2     Sacramento    485199.0  ...         4955.055147                       False

[4 rows x 5 columns]

This behavior is desirable because indexes are often strings pulled from the actual data (see the [*pandas* reindex
documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reindex.html) for an example
in which the index values are browser names).

In this case, allowing "missing" indices makes it easy to reindex using an external list, as you don't have to worry about
sanitizing the input.